@main-color-dark: #000000;
@main-color-medium: #666666;
@main-color-light: #FFFFFF;
@bg-color-medium: #F2F2F2;
@accent-color: #F9572E;
@accent-color-light: #FA9685;
@accent-color-hover: #FF7B59;
@accent-color-shadow: rgba(249, 87, 46, 0.7);
@additional-accent-color: #33B5A3;
@border-accent-color: #63D2C1;
@border-color: #CCCCCC;

@main-font-family: "Muller", "Arial", "sans-serif";

@min-mobile-width: 320px;
@max-mobile-width: 767px;
@min-tablet-width: 768px;
@max-tablet-width: 1023px;
@min-desktop-width: 1024px;
