.features
{
	padding-top: 133px;
	padding-bottom: 98px;

	.font-sizes (16px; 24px);
}

.features h2
{
	margin-bottom: 0;
}

.features > p
{
	margin-top: 7px;
	margin-bottom: 60px;

	font-weight: 500;
	letter-spacing: 0.62px;
	text-transform: uppercase;

	color: @additional-accent-color;
}

.features ul
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	margin-top: 60px;

	.list-reset();
}

.features li
{
	flex-basis: 46%;
	padding: 35px 0 39px 0;
	margin-bottom: 56px;

	border-top: 4px solid @border-accent-color;
}

.features li > b
{
	.font-sizes (24px; 32px);
	font-weight: 500;
}

.features li > p
{
	margin: 10px 0 0 0;

	color: @main-color-medium;
}

.features li:last-of-type
{
	display: flex;
	flex-direction: column;
	justify-content: center;

	padding-bottom: 35px;

	text-align: center;

	border: 4px solid @border-accent-color;
}

.features li:last-of-type > p
{
	.font-sizes (64px; 60px);
	font-weight: 500;

	color: @main-color-dark;
}

@media (max-width: @max-tablet-width)
{
	.features
	{
		padding-top: 80px;
	}

	.features ul
	{
		margin-right: -10px;
		margin-left: -10px;
	}

	.features li
	{
		flex-grow: 1;
		min-width: 320px;
		margin: 0 10px;
	}
}

@media (max-width: @max-mobile-width)
{
	.features
	{
		padding: 50px 20px 50px;

		text-align: center;
	}

	.features li
	{
		min-width: auto;
	}

	.features > p
	{
		margin-top: 20px;

		font-size: 14px;
	}

	.features li:last-of-type > p
	{
		.font-sizes (40px; 40px);
		font-weight: 500;

		color: @main-color-dark;
	}
}
